@font-face {
    font-family:RobotoBold;
    src: url('../../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: RobotoRegular;
    src: url('../../fonts//Roboto-Regular.ttf');
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.title{
  display: flex;
  align-items: center;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.title-text{
    font-family: 'Robotobold';
    font-size: 15px;
    color: black;
}

.options{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-right: 20px;
    margin-left: 70%;
    justify-content: center;
    margin-bottom: 10px;
}

.options-text-home{
    font-family: 'RobotoRegular';
    font-size: 18px;
    margin-right: 20%;
    cursor: pointer;
    color: black;
}

.options-text{
    font-family:'RobotoRegular';
    font-size: 18px;
    cursor: pointer;
    color: black;
}

/*.input-view{
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    justify-content: center;
}*/

.text-field-stlye{
    width: 692px;
    height: 320px;
    border-color: black;
    border-radius: 13px;
    background-color: '#F2F2F7';
}

.form-view{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 30px;
    justify-content: center;
    margin-right: 5%;
}

.submit-button-view{
    text-align: center;
    color: #3A4C8E;
    border-color: black;
    width: 600px;
    border-radius: 20px;
    color: white;
}

.submit-button-view:hover{
    background-color: #3A4C8E;
}

.info-view{
    display: flex;
    margin-top:2%;
    margin-bottom:5px;
}

.input-caption-view{
    margin-bottom: 3%;
    margin-top: 2px;
}

.input-image-view{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-info-text{
    font-family:'RobotoBold';
    color: black;
}

.input-info-caption{
    font-family:'RobotoBold';
    color:rgb(72, 70, 78);
    font-size: 13px;
}

.output-view{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:3%;
    margin-left: 6%;
    background-color: #EBECF0;
    margin-top: 2%;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .25);
}

.output-heading{
    font-family: 'RobotoBold';
    font-size: 18px;
    margin-bottom: 20px;
    color: black;
    margin-left: 10px;
    margin-top: 10px;
}

.output-text{
    font-family: 'RobotoRegular';
    font-size: 15px;
    color: black;
    margin-bottom:5px;
    margin-left: 10px;
}

.input-footer-view{
    width: 100%;
    margin-top: 10%;
}
