@font-face {
    font-family:RobotoRegular;
    src: url('../../fonts/Roboto-Regular.ttf') format("truetype");
}

.header-main{
    display:flex;
    flex: 1;
    width: 100%;
    background-color: rgb(244, 121, 52,0.4);
    flex-direction:row;
}

.title-header{
  display: flex;
  align-items: center;
  margin-left: 25px;
  margin-top: 15px;
   
}

.title-style{
    font-size: 18px;
    font-family: 'RobotoRegular';
    color: black;
}

.options{
    display: flex;
    flex-direction: row;
    align-items:center;
    margin-right: 20px;
    margin-left: 70%;
    justify-content: center;
    margin-top: 15px;
}

.blog{
    margin-right: 20%;
}

.blog-text{
    font-size: 18px;
    font-family: 'RobotoRegular';
    cursor: pointer;
    color: black;
}

.team{
    margin-right: 20%;
}

.team-text{
    font-size: 18px;
    font-family: 'RobotoRegular';
    cursor: pointer;
    color: black;
}

.login-style{
    border-color: black;
    background-color: white;
    border-radius:10px;
    font-family: 'RobotoRegular';
    font-size: 18px;
    height:40px;
    width: 140px;
    cursor: pointer;
}



